@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/*font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */

/* MARGENS
margin: x       = all margins
margin: x x     = vertical & horizontal
margin: x x x   = top & horizontal & bottom
margin: x x x x = clockwise */


/* RESET DE PROPRIEDADES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FORMATAÇÃO GERAL DE TEXTO */
H1 {
    text-decoration: none;
    color: #EDECED;
}
h2, h3, p, a {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
header h1 a {
    color: #EDECED;
    font-family: 'Titillium Web', sans-serif;
}

/* FORMATAÇÃO BODY */
body {
    background-color: #EDECED;
    width: auto;
    margin: 0px;
}

.grid-layout {
    width: 80%;
    margin: 0 auto; /*margin: vertical horizontal*/
}

/* FORMATAÇÃO DE CABEÇALHO */

header {
    background-color: #676767;
}

header .header-flex {
    padding: 10px 0;
    background-color: #676767;
    display: flex;
    justify-content: space-between;
}

/* Formatação da logo*/

header h1 #logoux{
    color: #EDECED;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

nav {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: #EDECED;
}

/***** FORMATAÇÃO MAIN *****/

main {
    color: #676767;
    margin: 20px 0;
}

/* ALINHAMENTO DAS COLUNAS */
main .colunas {
    display: flex;
    justify-content: space-between;
}

main .coluna-esquerda {
    background-color: #FFFFFF;
    width: 75%;
}

main .coluna-direita {
    background-color: #FFFFFF;
    width: 23%;
}

/* FORMATAÇÃO DA SEÇÃO PRINCIPAL */
#lapis {
    width: 100%;
}

/* FORMATAÇÃO DO RODAPÉ */
footer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #676767;
}
footer p {
    color: #EDECED;
}