@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');
/* RESET DE PROPRIEDADES & OUTROS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    color: white;
    background-color: #080324;
}

/* FONTES */
/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif; */

@font-face {
    font-family: 'Bebas Neue';
    src: url(..\assets\fonts\Bebas_Neue\BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

/* GRID LAYOUT */
.grid-layout {
    width: 80%;
    margin: 0 auto;
}

/********** FORMATAÇÃO DE CABEÇALHO **********/
header {
    height: 60px;
    background-color: #F9003D;
}

header div {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

header nav a {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin: 0 0 0 138px;
}

/********** PRIMEIRA SEÇÃO (BANNER) **********/

#banner {
    background-image: url(../assets/images/bg-img-banner.png);
    height: 740px;
    display: flex;
}
/* TÍTULO */
#banner-text {
    height: calc(669px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* DESENVOLVIMENTO DE SISTEMAS 2023 */
#desenvolvimento { 
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    margin: 0 0 0 0px;
}

#banner-linha {
    color: #FFAF00;
    width: 545px;
}
/* SENAI INFORMÁTICA */
#senai-informatica {
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 53px;
    font-weight: bold;
}

#mouse-icone {
    align-self: flex-start;
    height: 60px;
    margin: 0 0 0 22px;
    filter: drop-shadow(1px 1px 5px #FFD374);
}

/********** SEGUNDA SEÇÃO - SOBRE OS PROJETOS **********/
#projetos {
    padding: 64px 0 120px 0;
    display: flex;
}
/* SOBRE OS PROJETOS */
#sobre {
    color: #F9003D;
    font-family: 'Bebas Neue';
    font-size: 64px;
}
/* IMAGEM */
#projeto-img {
    margin: 64px 116px 0 0;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 141px 0 0 0;
}
/* MAIS DE 80 ALUNOS */
#alunos {
    color: #FFAF00;
    font-family: 'Bebas Neue';
    font-size: 64px;
    margin: 32px 0;
}

#se-liga-nos-lorem-boy {
    font-family: 'Open Sans';
    font-size: 18px;
}

/********** SEÇÃO 3 - INFORMAÇÕES **********/

footer {
    background-color: #F9003D;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-family: 'Open Sans';
    font-size: 18px;
}