@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/*font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */

* {
    font-family: 'Titillium Web', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

body {
    background-color: darkslategray;
    width: auto;
    margin: 0px;
}

header {
    background-color: #252525;
    font-family: 'Titillium Web', sans-serif;
}

header .grid-layout {
    width: 80%;
    margin: 0 auto;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 #logoux{
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

nav {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}