@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/*font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */



body {
    font-family: 'Indie Flower', cursive;
    background-color: bisque;
}

header {
    background-color: darkslategray;
    font-family: 'Titillium Web', sans-serif;
}

header .grid-layout {
    width: 90%;
    margin: 0 auto;
    background-color: cornflowerblue;
}

header h1 #logoux{
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}