/* TitilliumWeb */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-SemiBold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

/* Inter */
@font-face {
    font-family: Inter-Thin;
    src: url(../assets/fonts/Inter/static/Inter-Thin.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-SemiBold;
    src: url(../assets/fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../assets/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: Quicksand-Regular;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url(../assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Quicksand-Bold;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Bold.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter-Regular;
    font-size: 14px;
    color: white;
    background-color: #1B1426;
}


/* Mobiel First */

/* Generals */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    cursor: pointer;
}



/********************* Header *********************/
header {
    position: fixed;
    /* apenas para referência dos menus */
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: #1B1426;
    font-size: 16px;
}

header .container-grid {
    width: 100%;
}

/* fixar o label por causa do alinhamento, efeito do inline +- 4px */
header label {
    padding: 0;
    width: 30px;
    height: 30px;
}


/* esconde os elementos desnecessários no mobile */
header .header-top,
header h1 .title,
.mostra-esconde-icones,
header #mostra-esconde-navmenu,
header #mostra-esconde-icones {
    display: none;
}

.header-flex {}

header .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .header-bottom #logotipo {
    width: 120px;
}



/* mostra esconde menu social */
header #mostra-esconde-navmenu:checked~.nav-bkg {
    left: 1px;
}

header .nav-bkg {
    position: fixed;
    top: 60px;
    left: -300px;
    /* z-index: 2; */
    width: 270px;
    height: calc(100vh - 60px);
    /* apagar */
    padding: 1px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3), rgba(255, 255, 255, .05));
    transition: left 0.4s;
    border-radius: 5px;
    /* border: 2px solid yellow; */
}

.header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, .5), rgba(27, 20, 38, .05));
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 40px 0;
    color: white;
    font-family: Inter-Regular;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #F9AA01;
    transition: background-color .4s;
}

.header nav a:hover {
    background-color: #F9AA01;
    border-bottom: 2px solid #1B1426;
}

/* aqui depois trocar para o link:active */
.header nav a:last-of-type {
    border-bottom: none;
}

/* formatação nos dois últimos links - contato */
.header nav a.phone-box,
.header nav a.mail-box {
    font-size: 10px;
}

.header nav a.phone-box>img,
.header nav a.mail-box>img {
    width: 18px;
    margin-right: 10px;
    font-size: 10px;
}


.header nav .social-box {
    position: absolute;
    bottom: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.header nav .social-box img {
    margin-right: 25px;
}

.header nav .social-box img:last-of-type {
    margin-right: 0;
}


/* mostra esconde menu social */
header #mostra-esconde-icones:checked~.icons-header-bkg {
    right: 1px;
}

/* Menu social do cabeçalho */
header .icons-header-bkg {
    position: absolute;
    top: 60px;
    right: -70px;
    width: 66px;
    height: 170px;
    padding: 1px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
    border-radius: 5px;
    transition: right 0.4s;
}

header .icons-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, .5), rgba(27, 20, 38, .05));
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

header .icons-header img {
    width: 20px;
}

/********** CADASTRO de equipes **********/

.equipe-section {
    margin-top: 58px;
    height: 180vh;
    background-image: url(../assets/images/background-equipes-mobile.svg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(4px);

    padding: 80px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bkg-equipes { /*Borda gradient*/
    width: 100%;
    max-width: 90vw;
    height: 480px;
    padding: 40px 25px;
    border: 1px solid white;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 100%);
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bkg-equipes h1 {
    text-transform: uppercase;
    font-family: TitilliumWeb-Black;
    font-size: 28px;
    text-align: center;

    width: fit-content;
    border-bottom: 3px solid #F9AA01;
    margin: 0 0 12vh 0;

    justify-self: center;
}

.input-box {
    width: 75vw;
    height: 40px;
    background: linear-gradient(90deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    border: 1px solid whitesmoke;
    border-radius: 8px;

    margin: 25px 0;
    padding: 0 0 0 30px;
}

.input-box input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.input-box input::placeholder {
    font-family: TitilliumWeb-Regular;
    color: white;
    font-size: 16px;
}

.image-input-box {
    width: 100%;
    margin: 20px 0;
}

.image-input::file-selector-button {
    width: 35vw;
    height: 40px;
    border-radius: 8px;
    background-color: #d9d9d9;
    outline: none;
    border: none;

    font-family: TitilliumWeb-Bold;
    color: black;
    font-size: 13px;
}

.cadastro-btn {
    background-color: #F9AA01;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 20px 0 0 0;
}

.cadastro-btn p {
    font-family: TitilliumWeb-Bold;
    font-size: 24px;
}


/********** PLACAR de equipes ************/

table {
    width: 90vw;
    height: 50vh;
}

.tabela-head {
    color: #F9AA01;
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
    text-align: center;

    width: 90vw;
    margin-top: 150px;
    border-bottom: 3px solid #F9AA01;

    display: flex;
}

.tabela-row {
    color: #FFFFFF;
    font-family: TitilliumWeb-Bold;
    font-size: 20px;

    width: 90vw;
    height: 70px;
    margin: 20px 0;

    border: 1px solid white;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 100%);
    backdrop-filter: blur(3px);

    display: flex;
    align-items: center;
}

.tabela-row img, .tabela-row p {
    height: 32px;
    text-align: center;
    border-right: 3px solid #F9AA01;
}

.tabela-row img:last-of-type {
    border: 0;
}

.posicao {
    width: 15%;
}

.equipe {
    width: 50%;
    padding-right: 15%;
}

.logo {
    width: 25%;
}

.lixeira {
    width: 15%;
    border: 0;
}


/********************* Footer *********************/
footer {
    padding: 40px 20px;
    background-color: #1B1426;
    background-image: url(../assets/images/backgroung_footer.png);
    box-shadow: inset 0 30px 60px rgba(0, 0, 0, 0.8);
}

footer .footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .card-ftitem-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 50px;
    /* border: 1px solid white; */
}

footer .card-ftitem-box #ftlogo-link {
    width: 120px;
    margin-bottom: 20px;
    align-self: center;
    /* border: 1px solid green; */
}

footer .card-ftitem-box #ftlogo {
    width: 120px;
    margin: 0 auto;
}

footer .card-ftitem-box h2 {
    font-family: TitilliumWeb-Bold;
    font-size: 2rem;
}

footer .card-ftitem-box hr {
    width: 30%;
    border: 1px solid #F9AA01;
    margin-bottom: 30px;
}

footer .card-ftitem-box p {
    margin-bottom: 20px;
    font-family: Inter-Thin;
    text-align: justify;
}

footer .card-ftitem-box .social-fticons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

footer .card-ftitem-box .social-fticons img {
    width: 35px;
}

footer .menu-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .menu-ftitem {
    width: 30%;
    list-style: none;
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
}

/* footer .menu-ftitem:last-of-type {
    background-color: #EC4358;
    
} */

footer .menu-ftitem::before {
    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;
}

footer .menu-ftitem a {
    font-size: 1rem;
    font-family: Inter-Regular;
    text-decoration: none;
    line-height: 2rem;
    color: white;
}



footer a {
    font-family: Quicksand-Bold;
    text-decoration: none;
    color: white;
}

footer p.contact-title {
    margin-bottom: 10px;
    font-family: Quicksand-Bold;
    color: #F9AA01;
    /* border: 1px solid white; */
}

footer p.contact-text {
    margin-bottom: 10px;
    font-family: Quicksand-Bold;
}

footer .frm-news {
    display: flex;
    flex-wrap: wrap;
}

footer .input-box {
    width: 100%;
    height: 40px;
    padding: 1px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(239, 239, 239, .21));
    border-radius: 5px;
}

footer .input-box .frm-input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: transparent;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, .15), rgba(27, 20, 38, 0));
    font-family: TitilliumWeb-Regular;
    font-size: 1rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

footer .input-box .frm-input::placeholder {
    color: white;
}

footer .frm-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #F9AA01;
    color: #000;
    font-family: TitilliumWeb-Bold;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

footer #copyright {
    margin-top: 20px;
    font-family: TitilliumWeb-Regular;
    text-align: center;
    font-size: .9rem;
}