/* RESET DE PROPRIEDADES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-primaria: rgba(27, 20, 38, 1);
    --cor-secundaria: rgba(249, 170, 1, 1);
    --cor-de-fundo: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    --cor-da-borda: rgba(255, 255, 255, 0.3);

    --altura-section: calc(100vh - 60px);
}

/* FONTES */
/*  INTER                   font-family: 'Inter', sans-serif; */
/*  QUICKSAND               font-family: 'Quicksand', sans-serif; */
/*  TITILLIUM WEB           font-family: 'Titillium Web', cursive; */
/*  TITILLIUM WEB BOLD      font-family: 'Titillium Web', cursive; */
/*  TITILLIUM WEB BLACK     font-family: 'Titillium Web', cursive; */

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium-Web/TitilliumWeb-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Titillium Web Bold';
    src: url(../assets/fonts/Titillium-Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: 'Titillium Web Black';
    src: url(../assets/fonts/Titillium-Web/TitilliumWeb-Black.ttf);
}

/* FORMATAÇÃO texto padronizado */

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}

a:hover {
    color: #F9AA01;
}

/********** FUNCTIONS **********/

.mostrar-menu {
    left: 0 !important;
    opacity: 1 !important;
}

.mostrar-menu-usuario {
    right: 0 !important;
    opacity: 1 !important;
}

/********** MOBILE FIRST **********/

.grid-layout {
    width: 100%;
    padding: 0 5%;
}

.desktop-only {
    display: none;
}

/* header-top apenas para desktop */

.header-top {
    display: none;
}

/********** CABEÇALHO mobile **********/

.header-bottom {
    position: fixed;
    width: 100vw;
    height: 61px;
    background-color: #1B1426;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu-hamburger {
    width: 45px;
    height: 45px;
}

/* MENU HAMBURGER mobile */

.menu {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    width: 80vw;
    height: var(--altura-section);
    background-image: var(--cor-de-fundo);
    backdrop-filter: blur(25px);
    border-image: var(--cor-da-borda);

    display: flex;
    flex-direction: column;

    transition: left 0.4s;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav > a {
    border-bottom: 2px solid #F9AA01;
    padding: 30px 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.midias-sociais {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 10px;
}

header .menu-usuarios {
    display: none;
}

/* MENU usuarios */

.icon-menu-usuarios {
    width: 45px;
    height: 45px;
}

.user-menu {
    position: fixed;
    top: 60px;
    right: -20vw;
    z-index: 101;
    width: 20vw;
    height: 25vh;
    background-image: var(--cor-de-fundo);
    backdrop-filter: blur(25px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: right 0.4s;
}

.user-menu-icon {
    height: 20px;
    width: 20px;
}

/********** MAIN **********/

main {
    padding-top: 60px;
}

/********** BANNER mobile **********/

.banner-section {
    background-image: url(../assets/images/banner-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
}

.banner-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner-section h1 {
    font-family: 'Titillium Web Black', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 7px rgba(253, 66, 85, 0.7);
}

.banner-section button {
    height: 40px;
    width: 170px;
    margin-bottom: 90px;
    border-radius: 8px;
    border: none;
    background-color: rgba(249, 170, 1, 1);
    color: var(--cor-primaria);
    font-family: 'Titillium Web Bold', sans-serif;
    font-size: 24px;
}

/*********** JOGOS mobile ************/



.popular-card {
    background-image: url(..\assets\images\card-fifa.svg);
}